* {
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
  color: #333;
  font-family: Arial, sans-serif;
}

#container {
  background: white;
  width: 1020px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  background: url('images/bg.png') repeat;
  text-align: center;
  height: 200px;
}

main {
  width: 765px;
  float: left;
}

aside {
  width: 195px;
  float: right;
  padding: 20px 30px;
}

section {
  padding: 20px 30px;
}

ul {
  padding-left: 30px;
}

li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding-bottom: 10px;
  clear: both;
}

/* Typography */
h1 {
  font-size: 48px;
  padding-top: 60px;
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
}

a {
  color: #333;
}

p {
  line-height: 1.5em;
}
